@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

body{
    font-family: 'Poppins';
}

h1, h2, h3,h4,h5,h6,td,th,small,ul,li,a,span,button{
    font-family: 'Poppins';
}
td img {
    width: 80px; /* Sesuaikan lebar gambar */
    height: 120px; /* Sesuaikan tinggi gambar */
    border-radius: 5px; /* Memberikan sudut melengkung pada gambar (opsional) */
    object-fit: cover; /* Memastikan gambar tidak terdistorsi */
}
.btn-primary
{
    font-family: 'Poppins';
}
.tambah{
    font-family: 'Poppins';
}
.container h2{
    font-weight: bold;
}
.logo-title{
    white-space: nowrap;         /* Prevents text from wrapping to the next line */
    overflow: hidden;            /* Hides content that exceeds the width of the container */
    text-overflow: ellipsis;     /* Displays an ellipsis (...) when text overflows */
    max-width: 150px;  
 }   
.progress-detail p{
    font-weight: bold;
}
.buku{
    margin-left: 10px;
}
.lokasi{
    font-family: 'Poppins';
}
.row{
    font-family: 'Poppins';
}
.detailbuku {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto; /* Menengahkan gambar dengan margin otomatis */
}
.rounded {
    border-radius: 100px;
}
.card-body{
    border-radius: 10px;
    font-weight: 500;
    font-family: 'Poppins';
}
.profile-logo {
    position: relative;
    overflow: hidden;
}

.profile-logo img {
    max-width: 150px;
    max-height: 100px; /* Sesuaikan dengan tinggi yang diinginkan */
    object-fit: cover;
    border-radius: 50%;
}
.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
   
  }
  
  .movie-card {
    /**
     * variable for scaling overlay element on card hover 
     */
    --scale: 0.8;
  
    cursor: pointer;
  }
  
 
  
  .movie-card:hover .card-img { transform: scale(1.1); }
  
  .movie-card .card-overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    backdrop-filter: blur(5px);
  }
  
  .movie-card:hover .card-overlay { opacity: 1; }
  
  .movie-card .bookmark,
  .movie-card .rating {
    position: absolute;
    top: 15px;
    padding: 6px;
    border-radius: 10px;
    color: var(--light-azure);
    transform: scale(var(--scale));
  }
  
  .movie-card .bookmark {
    background: var(--oxford-blue);
    left: 15px;
  }
  
  .movie-card .bookmark:hover { color: var(--yellow); }
  
  .movie-card .rating {
    display:     flex;
    align-items: center;
    right: 15px;
    background: var(--oxford-blue-50);
  }
  
  .movie-card .rating span {
    color: var(--white);
    font-size: 13px;
    font-weight: var(--fw-5);
    margin-left: 5px;
  }
  
  .movie-card ion-icon {
    font-size: 16px;
    display: block;
    --ionicon-stroke-width: 50px;
  }
  
  .movie-card .play {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
  }
  
  .movie-card .play ion-icon {
    font-size: 60px;
    --ionicon-stroke-width: 20px;
  }
  
  .movie-card:hover :is(.bookmark, .rating, .play) { --scale: 1; }
  
  .movie-card .card-title {
    font-size: var(--fs-md);
    font-weight: var(--fw-5);
    margin-bottom: 5px;
  }
  
  .movie-card:hover .card-title { color: var(--light-azure); }
  
  .movie-card .card-info {
    display: flex;
    font-size: var(--fs-x-sm);
    font-weight: var(--fw-5);
  }
  
  .movie-card .genre { margin-right: 8px; }
  




  .profile-image-container {
    width: 50px; /* Adjust the width to your desired size */
    height: 50px; /* Adjust the height to your desired size */
    overflow: hidden;
    border-radius: 50%; /* For rounded avatars, adjust as needed */
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
