.movies {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.detail {
    width: 100%; /* Full width on larger screens */
    max-width: 100%; /* Maximum width for smaller screens */
    max-height: 100%;
    border-radius: 10px; /* Add rounded corners */
    overflow: hidden; /* Ensure the rounded corners are applied */
}

.detail img {
    width: 200;
    height: auto;
    border-radius: 10px; /* Match the border-radius to the parent for consistency */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .detail {
        max-width: none; /* Remove the maximum width on smaller screens */
        text-align: center;
    }
}

.bukudetail{
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
    font-weight: 500;
}
.judul{
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}
.kategori{
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 183, 255);
    text-transform: uppercase;

}
.kategoriSmall{
    color: black;
        align-items: center;
}
.kategoriSmall p{
    margin-right:1px ;
}

.copyright a {
    color: rgb(0, 183, 255);
}
.kateg{
    align-items: center;
    gap: 5px 10px;
    color:rgb(0, 183, 255);
    text-transform: uppercase;
    
}
.penulis{
    color: black;

}

.meta-wrapper {
    justify-content: flex-start;
    align-items: center;
    gap: 15px 20px;
  }
.bagi{
    color: rgb(0, 183, 255);
}



ul {
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap; /* Prevent line break */
    
}

li {
    display: flex;
    margin-right: 350px;
    margin-bottom: 10px;
    float: center;
    clear: both;
}
li p {
    color: black;
    text-transform: capitalize;
    margin-left: 10px;
    
}
